/* clean */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

/* helpers */

@import url('https://fonts.googleapis.com/css?family=Lato|Permanent+Marker&subset=latin-ext');
$overlap_font: 'Permanent Marker',
cursive;
$content_font: 'Lato',
sans-serif;

/* http://www.color-hex.com/color-palette/175 */

$gasa_bckg_color: #ff66cc;
$gasa_bckg_color_rgba: rgba(255,102,204,.5);
$front_bckg_color: #ccff66;
$front_bckg_color_rgba: rgba(204,255,102,.5);
$contact_bckg_color: #66ccff;
$contact_bckg_color_rgba: rgba(102,204,255,.5);

$gray_color: #424142;

/* styles homepage */

body {
    width: 100vw;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.title_mmb {
    width: 70vw;
    padding: {
        bottom: 1rem;
    }
    font-size: 2rem;
    font-family: $content_font;
    letter-spacing: .3rem;
    color: $gray_color;

    &:hover {
        cursor: pointer;
        opacity: .7;
    }
}

.centered_container {
    width: 70vw;
    height: 45rem;

    display: -webkit-box;

    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
}

h2 {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
    padding: .2rem;

    display: inline-block;
    width: auto;
    height: auto;

    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;

    &:hover,
    &:active {
        text-decoration: underline;
        color: inherit;
        background-color: rgba(250, 250, 250, .4);
    }
}

.sect_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    
    width: 93%;
    background-color: #ffffff;


    img {
        width: auto;
        height: auto;
    }
}

.overlap_nav {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    
    width: 7%;

    ul {
        list-style: none;

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;

        li {

            font-size: 2rem;
            font-family: $overlap_font;
            padding: 1rem;

            border-bottom-right-radius: 1rem;
            border-left: 1px solid black;
            
            width: 100%;

            &:nth-child(1) {
                background-color: $gasa_bckg_color;
            }

            &:nth-child(2) {
                background-color: $front_bckg_color;
            }

            &:nth-child(3) {
                background-color: $contact_bckg_color;
            }

            &:hover {
                cursor: pointer;
                opacity: .7;
            }
        }
    }
}

/* content */

section {
    width: 100%;
    height: 100%;

    -webkit-box-shadow: 0px .4px 4px .4px rgba(1, 2, 1, 0.5);
    box-shadow: 0px .4px 4px .4px rgba(1, 2, 1, 0.5);
}

.art_content {
    font-family: $content_font;
    font-size: 1.6rem;
    width: 93%;
    height: 100%;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    padding: 3rem;

    ul {
        list-style: none;
        
        margin: {
            top: 1rem;
            bottom: .5rem;
        }

        li {
            border-left: .1rem solid #000000;
            margin-bottom: 1rem;
            padding-left: 1rem;

            a {
                font-family: $overlap_font;
            }
        }
    }
}

.art_gasa {
    display: none;

    background-color: $gasa_bckg_color_rgba;
}

.art_front {
    display: none;

    background-color: $front_bckg_color_rgba;

    ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        width: 100%;

        li {
            -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
        }
    }
}

.art_contact {
    display: none;

    background-color: $contact_bckg_color_rgba;
    font-family: $overlap_font;
    font-size: 2.4rem;
    letter-spacing: .3rem;
    
    address{
        width: 100%;
        text-align: center;
            
        &:hover {
            background-color: rgba(250, 250, 250, .4);
        }
    }
}

@media (max-width: 768px) {
    .centered_container {
        min-height: 70vh;
        height: auto;
        width: 80vw;
    }

    .art_contact {
        font-size: 1.8rem;
    }
}

/* for IE10+ */

.for_IE {
    display: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    
    .for_IE {
        display: block;
        position: fixed;
        top: 5%;
        left: 10%;
        
        width: 30vw;
        height: auto;
        border: 1px solid $gray_color;
        padding: 2rem;
        font-size: 1.8rem;
        font-family: $content_font;
        
        background-color: $contact_bckg_color;    
    }
    
    .for_IE_content {
        display: none;
        
        p {
            padding: 1rem;
        }
    }
        
    .hover_for_IE:hover .for_IE_content {
        display: block;
    }
}
